
/* 
   comentario
Agregando estilos a los TAGS
*/

footer p{
    background-color: pink;
    color:white;
}

h1,h2{
    text-align: center;
}

h1{
    background-color: black;
    color: white;
    font-size: 36px;
}

h2{
    background-color: green;
    color: yellow;
    font-size: 24px;
}

.aviso{
    background-color: pink;
    color:white;
}

#btonAlgo{
    
}

table{
        width: 90%;

    
}

thead tr {
    background-color: black;
    color: white;
}


tbody tr:nth-child(odd){
    background-color: blue;
    color: white;
}


tbody tr:nth-child(even){
    background-color: plum;
    color: white;
}
/*
a{
    text-decoration: none;
    background-color: greenyellow;
    color: white;
}

a:hover{
    background-color: black;
    color: white;
}*/